<div class="row">
  <div class="col-6 bg-light p-4 mx-auto">
    <h1>Edit Flat</h1>
    <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit "Create Card", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
